
@{
    ViewBag.Title = "LayoutPogled";
    Layout = "~/Views/_OsnovniLayout.cshtml";
}



<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1 style="background-color:lightgray">LOGO</h1>
    <h2>LayoutPogled</h2>
    <h3>Ovo je testni pogled vezan na poseban Layout.</h3>
</body>
</html>
