@model Pogledi.Models.Artikl

<div style="display:table">
    <div class="divCell">@Model.Naziv</div>
    <div class="divCell">@Model.Cijena</div>
    <div class="divCell">@Model.Kolicina</div>

</div>
