
@{
    Layout = null;
    int brojac = 1;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WhileView</title>
</head>
<body>
    <div> 
        @while (brojac < 11)
        {
            <label>Linija @brojac</label><br />
            @:------------------<br />
            brojac++;
        }
    </div>
</body>
</html>
