@model  string[]
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChildActionView</title>
</head>
<body>
    <div> 
        @foreach(var item in Model)
        {
            @item@:&nbsp;-&nbsp;@Html.Action("OdrediGrupuProizvoda", new { proizvod = item})<br />
            <label>----------------------------------------------------------</label><br />
        }
    </div>
</body>
</html>
